<h2>Existing Users</h2>

<button ng-model="collapsed" ng-click="collapsed=!collapsed">
  <span ng-show="!collapsed">Show Debug</span>
  <span ng-show="collapsed">Hide Debug</span>
</button>
<div class="row bg-primary" ng-show="collapsed">
  <pre>
    {{users | json}}
  </pre>
</div>

<hr>
<table class="table table-striped">
  <tr>
    <th>&nbsp;</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th><abbr title="City listed in default address">City</abbr></th>
  </tr>
  <tr ng-repeat="user in users | orderBy:'lname'">
    <td><a href="#/user/{{user.id}}" class="btn glyphicon glyphicon-edit" title="Edit"></a></td>
    <td>{{user.fname}}</td>
    <td>{{user.lname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.telephone}}</td>
    <td>{{user.addresses[user.defaultAddress-1].city}}</td>
  </tr>
</table>
