<h2>Existing Users</h2>

<table class="table table-striped">
  <tr>
    <th>&nbsp;</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>User Type</th>
    <th><abbr title="City listed in default address">City</abbr></th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="user in users | orderBy:'lname'">
    <td><a href="/user/{{user._id}}" class="btn glyphicon glyphicon-edit" title="Edit"></a></td>
    <td>{{user.fname}}</td>
    <td>{{user.lname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.telephone}}</td>
    <td>{{user.userType}}</td>
    <td>{{user.addresses[user.defaultAddress].city}}</td>
    <td><div confirm-delete on-confirm="deleteUser(user)"></div></td>
  </tr>
</table>
